.contact-form {
  width: 100%;
  height: auto;
  @include flex-basic;
  flex-flow: column wrap;
}

.contact-form__label {
  font-size: $font-size-medium;
  margin: $s1 0;
}

.contact-form__input {
  width: $s8;
  height: $s2;
}

.contact-form__textarea {
  width: $s8;
  height: $s4;
}