.contact-bar {
  width: 90%;
  height: 20vh;
  max-width: $bp-medium;
  background: white;
  @include flex-basic;
  justify-content: space-around;
  display: none;
}

.contact-bar__content {
  font-size: $font-size-large;
  font-weight: $font-weight-medium;
  color: $details-color;
}

@media screen and (min-width: $bp-medium) {
  .contact-bar {
    display: flex;
  }
}
