.figure-trainer {
  width: 100%;
  @include flex-basic;
  margin-top: $s2;
}

.figure-trainer__img {
  width: 75%;
  height: auto;
}

.figure-trainer-content {
  margin: $s1 0;
  width: 80%;
  @include flex-basic;
  flex-flow: column wrap;
}

.figure-trainer-content__title {
  margin: $s1 0 0 0;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  font-size: $font-size-medium;
  text-align: center;
}

.figure-trainer-content__subtitle {
  margin: $s1 0;
  color: $details-color;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
}

.figure-trainer-content__text {
  font-size: $font-size-small;
  text-align: center;
}