$crimson: #da1212;
$woodsmoke: #141415;
$silver-chalice: #b1b1b1;
$orchid-white: #fffdf3;
$catskill-white: #f1f5f8;
$totem-pole: #a50808;

$background: $orchid-white;
$background-light: $catskill-white;
$background-dark: $woodsmoke;
$details-color: $crimson;
$text-color-dark: $woodsmoke;
$text-color-light: $orchid-white;

$button-hover: $totem-pole;

$default-transition: .25s all ease-in-out;

$default-font-family: 'Roboto',
sans-serif;

$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.8rem;
$font-size-jumbo: 2.6rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// sizes

$s1: 1rem;
$s2: 2rem;
$s3: 3rem;
$s4: 4rem;
$s5: 5rem;
$s6: 6rem;
$s7: 10rem;
$s8: 14rem;

// breakpoints

$bp-small: 550px;
$bp-medium: 760px;
$bp-desktop: 1200px;