@import './reset';

* {
  box-sizing: border-box;
}

body {
  font-family: $default-font-family;
  color: $text-color-dark;
}

html {
  font-size: 62.5%;
}

.main {
  @include flex-basic;
  position: relative;
}

.hidden {
  display: none;
}